.menu {
    padding: 35px 0 34px 0;
    font-family: 'Roboto Slab', sans-serif;
    color: #3d4449;
    border-bottom: 2px solid rgba(127, 136, 143, 0.3);

    ul {
        padding: 14px 0;
    }

    li {
        text-transform: uppercase;
        letter-spacing: 1.17px;
        font-size: 14px;
        padding: 12px 0 12px 0;
        border-bottom: 1px solid rgba(127, 136, 143, 0.3);

        &:last-child {
            border-bottom: 0;
        }
    }

    .title-menu {
        padding: 34px 0 23px 0;
    }
}