@media screen and (max-width: $xs-width) {
    .info {
        padding: 30px 0 3px 0;

        .major {
            padding-top: 10px;
            padding-bottom: 8px;
            padding-right: 15px;
        }

        .info-items-wrap {
            padding-top: 53px;
            flex-direction: column;
        }
    
        .info-item {
            width: 100%;
            padding-bottom: 40px;
            flex-direction: column;

            &:last-child {
                padding-bottom: 22px;
            }
        }
    }

    .info-item-icon {
        padding: 1px 42px 29px 14px;

        .icon-wrap {
            width: 52px;
            height: 52px;
        }

        i {
            font-size: 20px;
            padding-top: 2px;
        }
    }

    .info-item-content {
        
        p {
            padding: 14px 0;
        }
    }
}