@media screen and (max-width: $xl-width) {
    .banner {
        padding: 67px 0 74px 0;

        h1 {
            font-size: 51px;
            font-weight: 700;
            line-height: 66.73px;
        }

        p {
            padding: 12px 0;
        }

        .content {
            padding-right: 70px;
        }

        .banner-img {
            margin-top: 7px;
            padding: 208px 0;
        }

        .subtitle {
            padding: 14px 0;
            font-size: 14.66px;
            letter-spacing: 1.1px;
        }
    }
}