@media screen and (max-width: $xl-width) {
    .btn {
        font-size: 11.73px;
        font-family: 'Roboto Slab', sans-serif;
        text-transform: uppercase;
        padding: 11px 24px;
        color: #F56A6A;
        border: 2px solid #F56A6A;
        border-radius: 5px;
        outline: none;
        font-weight: 700;
        letter-spacing: 1.04px;
        margin-top: 17px;

        &:hover {
            background-color: rgba(245, 106, 106, 0.05);
            transition: 0.5s ease;
        }
    }
}