@media screen and (max-width: $xl-width) {
    .header {

        .head-title {
            font-size: 16.5px;
        }

        .line-bottom {
            padding-bottom: 15px;

        }

        .social {
            i {
                font-size: 18px;
                margin-left: 15px;
            }
        }
    }
}