@media screen and (max-width: $xl-width) {
    .menu {
        padding: 8px 0 33px 0;

        ul {
            padding: 7px 0;
        }

        li {
            font-size: 11.88px;
            padding: 8px 0 7px 0;
        }

        .title-menu {
            padding: 34px 0 23px 0;
        }

        .visible-submenu {
    
            li {
                font-size: 10.56px;
                padding: 0 0 0 15px;
            }
        }
    }
}